.baseCard {
  height: auto;
}

.searchContainer {
  position: relative;
  width: auto;
}

.searchIcon {
  position: absolute;
  left: 10px;
  top: 35%;
  transform: translateY(-50%);
  color: #888;
  width: 18px;
  height: 18px;
}

.searchInput {
  padding-left: 35px;
  width: "100%";
  height: 36px;
  border: 1px solid #f5b700;
  border-radius: 6px;
  outline: none;
}
