.overlay {
  position: fixed;
  top: 0;  /* start from very top */
  left: 0;
  width: 100vw;
  height: 100vh; /* full screen */
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* higher than topbar */
  overflow-y: auto;
}

.modal {
  background: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 600px;
  height: auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

.closeBtn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  float: right;
  margin-bottom: 10px;
}

.content {
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
